/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

body {
  min-width: 100%;
}

/* Containers

----------------------------------------------------------------------------------------------------*/
.con{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
/*.container_15 {
	margin-left: 11%;
	margin-right: auto;
	/*width: 80%;*/
/*}*/

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}



.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15 {
	position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right:-10;
}

/* Grid >> 15 Columns
----------------------------------------------------------------------------------------------------*/


.container_15 .grid_1 {
	width:60px;
}

.container_15 .grid_2 {
	width:130px;
}

.container_15 .grid_3 {
	width:200px;
}

.container_15 .grid_4 {
	width:270px;
}

.container_15 .grid_5 {
	width:31%;
}

.container_15 .grid_6 {
	width:42%;
}

.container_15 .grid_7 {
	width:45%;
}

.container_15 .grid_8 {
	width:50%;
}

.container_15 .grid_9 {
	width:620px;
}

.container_15 .grid_10 {
	width:690px;
}

.container_15 .grid_11 {
	width:70%;
	min-width: 20%;
	max-width: 70%;
}

.container_15 .grid_12 {
	width:830px;
}

.container_15 .grid_13 {
	width:900px;
}

.container_15 .grid_14 {
	width:90%;
}

.container_15 .grid_15 {
	width:100%;
}




/* Prefix Extra Space >> 15 Columns
----------------------------------------------------------------------------------------------------*/


.container_15 .prefix_1 {
	padding-left:70px;
}

.container_15 .prefix_2 {
	padding-left:140px;
}

.container_15 .prefix_3 {
	padding-left:210px;
}

.container_15 .prefix_4 {
	padding-left:280px;
}

.container_15 .prefix_5 {
	padding-left:350px;
}

.container_15 .prefix_6 {
	padding-left:420px;
}

.container_15 .prefix_7 {
	padding-left:490px;
}

.container_15 .prefix_8 {
	padding-left:560px;
}

.container_15 .prefix_9 {
	padding-left:630px;
}

.container_15 .prefix_10 {
	padding-left:700px;
}

.container_15 .prefix_11 {
	padding-left:770px;
}

.container_15 .prefix_12 {
	padding-left:840px;
}

.container_15 .prefix_13 {
	padding-left:910px;
}

.container_15 .prefix_14 {
	padding-left:980px;
}



/* Suffix Extra Space >> 15 Columns
----------------------------------------------------------------------------------------------------*/


.container_15 .suffix_1 {
	padding-right:70px;
}

.container_15 .suffix_2 {
	padding-right:140px;
}

.container_15 .suffix_3 {
	padding-right:210px;
}

.container_15 .suffix_4 {
	padding-right:280px;
}

.container_15 .suffix_5 {
	padding-right:350px;
}

.container_15 .suffix_6 {
	padding-right:420px;
}

.container_15 .suffix_7 {
	padding-right:490px;
}

.container_15 .suffix_8 {
	padding-right:560px;
}

.container_15 .suffix_9 {
	padding-right:630px;
}

.container_15 .suffix_10 {
	padding-right:700px;
}

.container_15 .suffix_11 {
	padding-right:770px;
}

.container_15 .suffix_12 {
	padding-right:840px;
}

.container_15 .suffix_13 {
	padding-right:910px;
}

.container_15 .suffix_14 {
	padding-right:980px;
}



/* Push Space >> 15 Columns
----------------------------------------------------------------------------------------------------*/


.container_15 .push_1 {
	left:70px;
}

.container_15 .push_2 {
	left:140px;
}

.container_15 .push_3 {
	left:210px;
}

.container_15 .push_4 {
	left:280px;
}

.container_15 .push_5 {
	left:350px;
}

.container_15 .push_6 {
	left:420px;
}

.container_15 .push_7 {
	left:490px;
}

.container_15 .push_8 {
	left:560px;
}

.container_15 .push_9 {
	left:630px;
}

.container_15 .push_10 {
	left:700px;
}

.container_15 .push_11 {
	left:770px;
}

.container_15 .push_12 {
	left:840px;
}

.container_15 .push_13 {
	left:910px;
}

.container_15 .push_14 {
	left:980px;
}



/* Pull Space >> 15 Columns
----------------------------------------------------------------------------------------------------*/


.container_15 .pull_1 {
	left:-70px;
}

.container_15 .pull_2 {
	left:-140px;
}

.container_15 .pull_3 {
	left:-210px;
}

.container_15 .pull_4 {
	left:-280px;
}

.container_15 .pull_5 {
	left:-350px;
}

.container_15 .pull_6 {
	left:-420px;
}

.container_15 .pull_7 {
	left:-490px;
}

.container_15 .pull_8 {
	left:-560px;
}

.container_15 .pull_9 {
	left:-630px;
}

.container_15 .pull_10 {
	left:-700px;
}

.container_15 .pull_11 {
	left:-770px;
}

.container_15 .pull_12 {
	left:-840px;
}

.container_15 .pull_13 {
	left:-910px;
}

.container_15 .pull_14 {
	left:-980px;
}




/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}

#leftmenu {
	width:200px;
	float:left;
	max-width:100%;
}

#page {
	width:760px;
	float:left;
	max-width:80%;
}

#upcoming{
	width:200px;
	float:left;
	max-width:100%;
}

#events {
	width:760px;
	float:left;
	max-width:100%;
}

#event {
	width:760px;
	float:left;
	max-width:100%;
}

#signup{
	width:760px;
	float:left;
	max-width:100%;
}

#login{
	width:760px;
	float:left;
	max-width:100%;
}

#group{
	width:760px;
	float:left;
	max-width:100%;
}

#news{
	width:760px;
	float:left;
	max-width:100%;
}

#members{
	width:100%;
	text-align: center;
	max-width:100%;
}

@media screen and (max-width:991px) {
 #page {
	float:left;
	width:100%;
	/*align: center;*/
}

 #news {
	float:left;
	width:100%;
}
#events {
	float:left;
	width:100%;
}

#event {
	float:left;
	width:100%;
}


#signup{
	float:left;
	width:100%;
}

#login{
	float:left;
	width:100%;
}

#group{
	float:left;
	width:100%;
}


#leftmenu{
	display: none;
}

#upcoming{
	display: none;
}
}
