body {
  font-size: 14px;
  color: #444;
/*  font-weight: bold;*/
}

h1, h2, h3, h4 {
  color: #707070;

}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

.darkBarTop {
  height: 12px;
  background-color: #2a2a2a;
  margin-bottom: 10px;
}

/*
#333
#707070
#a3a3a3
#ccc
#eaeaea
*/

.darkGrey {
  color: #a0a0a0;
}

.lightGrey {
  color: #eaeaea;
}

a {
  color: #444;
  text-decoration: underline;
}
a:hover {
  color: #d16117;
}

.intro {
  font-size: 18px;
  color:black;
}

p a {
  text-decoration: underline;
}

p a:hover {
}

#menu a {
  padding: 6px 8px;
  text-decoration: underline;
  font-size: 14px;
  font-weight: bold;
  display: block;
  float: left;
  margin-right: 6px;
}

#menu a.dark {
  background-color: #a0a0a0;
  color: #fff;
}

#menu a.light {
  background-color: #eaeaea;
  color: #707070;
}
#menu a:hover,
#menu a.active {
  color: #fff;
  background-color: #d16117;
}

.breadcrumb {
  color: #a0a0a0;
  font-size: 12px;
}
.breadcrumb a {
  color: #a0a0a0;
  text-decoration: underline;
}
.breadcrumb a.current {
  text-decoration: underline;
}

.tiny {
  font-size: 10px;
}

#leftmenu {
  margin-top: 84px;
}

#leftmenu a {
  text-decoration: underline;
}

#leftmenu div.level1 {
  border-top: 2px solid #eaeaea;
  padding-top: 10px;
  margin-bottom: 10px;
}
#leftmenu .active {
  color: #d16117;
}
#leftmenu ul.level2 {
  list-style: none;
  padding-left: 15px;
}

#leftmenu ul.level3 {
  list-style: none;
  padding-left: 15px;
}

#leftmenu li {
  margin-bottom: 6px;
}

#leftmenu li.active {
  color: #d16117;
}
#leftmenu li .active {
  text-decoration: underline;
}

#upcoming .rss {
  display: block;
  font-size: 10px;
  margin: 40px 0 20px;
  line-height: 10px;
  color: #ccc;
  font-weight: bold;
}
#upcoming .rss img {
  float: left;
  margin-right: 8px;
}

#upcoming .event {
  margin-top: 20px;
}

#upcoming .event h3 {
  margin-bottom: 0;
}

#upcoming .event p {
  margin: 4px 0;
  color: #1d1818;
}

.lightBar {
  height: 20px;
  background-color: #e1e1df;
}

#footer {
  background-color: #2a2a2a;
  padding: 20px 0 30px;
  font-size: 12px;
  font-weight: bold;
  color: #ebebeb;
  line-height: 16px;
}

#footer .subpages a {
  color: #ebebeb;
  display: block;
  text-decoration: underline;
}

#footer .address,
#footer .address a {
  color: #a3a3a3;
}

#footer .links a {
  color: #a3a3a3;
  display: block;
  margin-bottom: 10px;
  line-height: 20px;
  text-decoration: underline;
}

#footer .links a img {
  float: left;
  margin-right: 6px;
}

#footer .sponsor {
  margin-bottom: 16px;
  display: block;
}

.orangeDark {
  background-color: #d16117;
}

.orangeMedium {
  background-color: #e5924e;
}

.orangeLight {
  background-color: #efba90;
}

.orangeLightest {
  background-color: #e1ebd1;
}

.hr {
  display: block;
  border-top: 2px solid #eaeaea;
  clear: both;
}

.slideshow {
  /*position: relative;*/
  width: 100%;
  height: 30%;
  margin-top: 30px;
}

.slideshow .controls { 
  z-index: 1000; 
  position: absolute; 
  bottom: 14px; 
  left: 14px; 
  display: none;
  border: 0; 
  margin: 0; 
}

.slideshow .controls .button {
  margin-right: 5px;
  cursor: pointer;
  background-color: #eee;
  padding: 1px;
  opacity: 0.7;  
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}


.adminEdit {
  display: block;
  width: 8px;
  height: 8px;
  background-color: red;
  cursor: pointer;
/*  position: absolute;*/
}

.top_1 { margin-top: 10px; }
.top_2 { margin-top: 20px; }
.top_3 { margin-top: 30px; }
.top_4 { margin-top: 40px; }
.top_5 { margin-top: 50px; }
.top_6 { margin-top: 60px; }
.top_7 { margin-top: 70px; }
.top_8 { margin-top: 80px; }
.top_9 { margin-top: 90px; }
.top_10 { margin-top: 100px; }
.top_14 { margin-top: 140px; }

.bottom_1 { margin-bottom: 10px; }
.bottom_2 { margin-bottom: 20px; }
.bottom_3 { margin-bottom: 30px; }
.bottom_4 { margin-bottom: 40px; }
.bottom_5 { margin-bottom: 50px; }
.bottom_6 { margin-bottom: 60px; }
.bottom_7 { margin-bottom: 70px; }
.bottom_14 { margin-bottom: 140px; }

.height_1 { height: 10px; }
.height_2 { height: 20px; }
.height_3 { height: 30px; }
.height_4 { height: 40px; }
.height_5 { height: 50px; }
.height_6 { height: 60px; }
.height_7 { height: 70px; }
.height_14 { height: 140px; }


/* home */
#home a {
  text-decoration: underline;
}

#home .separator {
  color: #cd5b00;
  font-size: 11px;
  line-height: 20px;
}

#home .event img {
  float: left;
  margin: 20px 10px 20px 0;
}

#home .event .info {
  margin-top: 12px;
  font-size: 11px;
}
#home .event a:hover .info {
  color: #555;
}

#home .event h2 {
  margin-top: 0;
}

#home .external h2 {
  font-size: 14px;
}

#home .external p {
  font-size: 12px;
}

.largeLink {
  display: block;
}

.largeLink,
.largeLink:hover {
  font-weight: bold;
  color: #222;
  text-decoration: underline;
}

.largeLink:hover,
#home .event a:hover img {
  opacity: 0.7;
}

/* members */
.memberList {
  border-top: 2px solid #eaeaea;
}

.memberList table {
  width: 100%;
  color: #a0a0a0; 
}

.memberList table th {
  background-color: #eee;
  color: #555;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
min-width:100px;
}

.memberList table td {
  padding: 2px 3px 3px 2px;
  vertical-align: top;
  font-size: 12px;
  border-bottom: 1px solid #f5f5f5;
text-align:left;
}

.memberList table td.tiny {
  font-size: 10px;
}

.memberList .none {
  color: #777; 
  text-align: center; 
  margin-top: 30px;
}


/* lists */
.list table {
  width: 100%;
  font-size: 12px;
}

.list table th,
.list table td {
  padding: 4px 4px;
  vertical-align: top;
}

.list table td {
  border-bottom: 1px solid #e5924e;
}

.list table td.date a {
  font-weight: bold;
  text-decoration: underline;
}

.list table td.text a {
  text-decoration: underline;
}

.list table td.name a {
  text-decoration: underline;
}

.list table td.name a .title {
  text-decoration: underline;
}

.list table td .snippet {
  font-size: 11px;
  color: #444;
}
.list table tr.row:hover td a .snippet {
  color: #fff;
}

.list table th {
  color: #a0a0a0;
  padding-bottom: 20px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}

.list table .month {
  border-top: 2px solid #d16117;
  color: #444;
  padding-bottom: 20px;
}

.list table tr.row:hover td {
  background-color: #d16117;
  color: #fff;
}

.list table tr.row:hover a,
.list table tr.row:hover a:hover {
  color: #fff;
}

.list .nobreaks {
  white-space: nowrap;
}


/* login */
label {
  width: 130px;
  display: block;
  float: left;
}

.errornote,
.errorlist {
  color: #a60000;
}

/* groups */
#group .extra {
  border-top: 2px solid #eaeaea;
}

/* event */
#event .into {
}

#event form .summary {
  color: #d16117;
}

#event form .summary span {
  float: left;
  width: 300px;
}

/* styled form */
form.styled {
  background-color: #eee;
  color: #777;
  padding: 15px 20px;
 font:100%;
}

form.styled p {
  margin: 8px 5px;
  clear: both;
}

form.styled label {
  width: 30%;
  text-align: right;
  margin-right: 20px;
}

form.styled input[type=text],
form.styled select,
form.styled textarea {
  background-color: #fff;
  border: 0;
  padding: 2px 4px;
}

form.styled textarea {
  height: 7%;
}

form.styled input[type=text],
form.styled textarea {
  width: 50%;
}

form.styled .error input[type=text],
form.styled .error select,
form.styled .error textarea {
  background-color: #ffc0c0;
}

form.styled input.button {
  width: auto;
  background-color: #d16117;
  color: #fff;
  font-weight: bold;
  padding: 4px 8px;
  border: 0;
  text-transform: uppercase;
}


