<div id="leftmenu" >
  {% for level1 in submenu %}
  <div class="level1">
    <a class="{% if level1.url in request.path %}active{% endif %}" style="text-decoration:none;" href="{{ level1.url }}"><font class="a" size="2">{{ level1.name }}</font></a>
    <!-- |lower|capfirst  -->
    {% if level1.url in request.path and level1.children %}
    <ul class="level2">
      {% for level2 in level1.children %}
      <li>
        <a class="{% if level2.url in request.path %}active{% endif %}" href="{{ level2.url }}" style="text-decoration:none;"><font class="a" size="2">{{ level2.name  }}</font></a>
        {% if level2.url in request.path and level2.children %}
        <ul class="level3">
          {% for level3 in level2.children %}
          <li><a class="{% if level3.url in request.path %}active{% endif %}" href="{{ level3.url }}" style="text-decoration:none;"><font class="a" size="2">{{ level3.name }}</font></a></li>          
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% endfor %}
<div class="level1">
    <a  href="/om/kontakt/" style="text-decoration:none;"><font class="a" size="2">Kontakt</font></a>
</div>
</div>