{% load textsnippet objectlist %}
<script type="text/javascript">
   function abcde(a,b){
  var stringArray = a.split(/(\s+)/);
  var month=stringArray[0];
  var date=stringArray[2];
  var year=stringArray[4];
  // var year=stringArray[6];
//   switch (day) {
//     case 'Monday,':
//         day = "Mandag,";
//         break;
//     case 'Tuesday,':
//         day = "Tirsdag,";
//         break;
//     case 'Wednesday,':
//         day = "Onsdag,";
//         break;
//     case 'Thursday,':
//         day = "Torsdag,";
//         break;
//     case 'Friday,':
//         day = "Fredag,";
//         break;
//     case 'Saturday,':
//         day = "Lørdag,";
//         break;
//     case 'Sunday,':
//         day = "Søndag,";
                                
// }
  switch (month) {
    case 'Jan.':
        month = "Januar.";
        break;
    case 'Feb.':
        month = "Februar.";
        break;
    case 'March':
        month = "Marts";
        break;
    case 'April':
        month = "April";
        break;
    case 'May':
        month = "Maj";
        break;
    case 'June':
        month = "Juni";
        break;
    case 'July':
        month = "Juli";
        break;
    case 'Aug.':
        month = "August";
        break;
    case 'Sept.':
        month = "September";
        break;
    case 'Oct.':
        month = "Oktober";
        break; 
    case 'Nov.':
        month = "November";
        break;
    case 'Dec.':
        month = "December";                           
}




  document.getElementById(a+b).innerHTML = month+" "+date+" "+year ;

}
</script>
<div id="upcoming" class="grid_3">
  <a class="bottom_2 rss" href="{% url feeds "events" %}"><img src="{{ MEDIA_URL }}img/icon-rss.png"> <font class="a">RSS-feed<br>/ Byggesocietetets aktiviteter</font></a>

  <p><font size="2"><a  href="{% url event_overview %}"><font class="a" size="2">{% textsnippet "sidebar: kommende aktiviteter" %}</font></a></p>

  {% if events != None %}

  {% for event in events|slice:":5" %}
  <div class="event">
    <p><a href="{% url event_detail event.url %}"><font class="a" size="2">{{ event.name }}</font></a></p>
    <p class="date"><font ><div style="font-size: 0.8em" id='{{ event.date }}{{ event.time }}' ><script type="text/javascript"> abcde('{{ event.date }}','{{ event.time }}')+;</script> {{ event.time }}</div></font></p>
    <p><font size="2">{{ event.intro|safe|truncatewords_html:20 }}</font></p>
  </div>
  {% endfor %}

  {% else %}

  {% for event in upcoming_events|slice:":5"  %}
  <div class="event">
  <p><a href="{% url event_detail event.url %}"><font class="a" size="2">{{ event.name }}</font></a></p>
    <p class="date"><font size="0.5em"><div  style="font-size: 0.8em" id='{{ event.date }}{{ event.time }}' ><script type="text/javascript"> abcde('{{ event.date }}','{{ event.time }}');</script> {{ event.time }}</div></font></p>
    <p><font size="2">{{ event.intro|safe|truncatewords_html:20 }}</font></p>
  </div>
  {% endfor %}

  {% endif %}
</div>
