{% extends 'main/main.html' %}
{% load textsnippet thumbnail %}

{% block breadcrumb %}
  <a href="{% url areas %}">{% textsnippet "brødkrumme: lokalområder" %}</a> /
  <a class="current" href="{% url area area.url %}">{{ area.menu }}</a>
{% endblock %}

{% block main %}
<div id="area" class="grid_8 top_2 members">
  <h1 class="bottom_2">{{ area.name }}</h1>

  {% if area.image %}
  <img src="{{ area.image.url|noncroppedthumbnail:"550x3000" }}"/>
  {% endif %}

  {% if area.intro %}
  <div class="intro top_2">
    {{ area.intro|safe }}
  </div>  
  {% endif %}

  <div class="text top_2">
    {{ area.text|safe }}
  </div>

  {% if chairman %}
  <div class="charman">
    {{ area.chairman_description|safe }}
  </div>
  {% endif %}

  {% if area.board %}
  <div class="board memberList top_2">
    <h3>{{ area.name }} bestyrelse:</h3>

    <table>
      {% for member in area.winkas_board %}
      <tr>
        <td>{{ member.company }}</td>
        <td>{{ member.name }}</td>
        <td>{{ member.email }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}

  {% comment %}
  {% if area.members %}
  <div class="memberList">
    <h3>{% textsnippet "lokalområde: medlemmer title" %}</h3>

    <table>
      {% for member in area.winkas_members %}
      <tr>
        <td>{{ member.company }}</td>
        <td>{{ member.name }}</td>
        <td>{{ member.email }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
  {% endcomment %}
  
</div>
{% endblock %}
