{% extends 'main/main.html' %}
{% load textsnippet thumbnail %}

{% block breadcrumb %}
  <a href="{% url bsgroups %}">{% textsnippet "brødkrumme: bs-grupper" %}</a> /
  <a class="current" href="{% url bsgroup group.url %}">{{ group.menu }}</a>
{% endblock %}

{% block main %}
<div id="group" class="grid_8 top_2 members">
  <h1 class="bottom_2">{{ group.name }}</h1>

  {% if group.image %}
  <img src="{{ group.image.url|noncroppedthumbnail:"550x3000" }}"/>
  {% endif %}

  {% if group.intro %}
  <div class="intro top_2">
    {{ group.intro|safe }}
  </div>  
  {% endif %}

  <div class="text top_2 bottom_2">
    {{ group.text|safe }}
  </div>

  {% if group.members %}
  <div class="memberList">
    <h3>{% textsnippet "bs-grupper: medlemmer title" %}</h3>

    <table>
      {% for member in group.winkas_members %}
      <tr>
        <td>{{ member.company }}</td>
        <td>{{ member.name }}</td>
        <td>{{ member.email }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
  
</div>
{% endblock %}
