{% extends 'main/main.html' %}
{% load textsnippet thumbnail %}

{% block breadcrumb %}
  <a href="{% url committees %}">{% textsnippet "brødkrumme: udvalg" %}</a> /
  <a class="current" href="{% url committee committee.url %}">{{ committee.menu }}</a>
{% endblock %}

{% block main %}
<div id="committee" class="grid_8 top_2 members">
  <h1 class="bottom_2">{{ committee.name }}</h1>

  {% if committee.image %}
  <img src="{{ committee.image.url|noncroppedthumbnail:"550x3000" }}"/>
  {% endif %}

  {% if committee.intro %}
  <div class="intro top_2">
    {{ committee.intro|safe }}
  </div>  
  {% endif %}

  <div class="text top_2 bottom_2">
    {{ committee.text|safe }}
  </div>

  {% if committee.members %}
  <div class="memberList">
    <h3>{% textsnippet "udvalg: medlemmer title" %}</h3>

    <table>
      {% for member in committee.winkas_members %}
      <tr>
        <td>{{ member.company }}</td>
        <td>{{ member.name }}</td>
        <td>{{ member.email }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
  
</div>
{% endblock %}
