{% extends 'main/main.html' %}
{% load i18n textsnippet thumbnail %}

{% block breadcrumb %}
  <a href="{% url event_overview %}"><font>{% textsnippet "brødkrumme: arrangementer" %}</font></a>
{% endblock %}

{% block main %}
<style>
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #f36510;}
</style>
<div id="events" class="grid_8 top_2">
  <h1 class="bottom_2"><font>{% textsnippet "arrangementer: titel" %}</font></h1>
  
<ul class="pagination">
  <li ><a href="http://www.byggesocietetet.dk/arrangementer/aktuelle/" >2017</a></li>
  <li><a href="http://www.byggesocietetet.dk/arrangementer/arkiv/2016" >2016</a></li>
  <li><a href="http://www.byggesocietetet.dk/arrangementer/arkiv/2015">2015</a></li>
  <li><a  href="http://www.byggesocietetet.dk/arrangementer/arkiv/2014">2014</a></li>
  <li><a  href="http://www.byggesocietetet.dk/arrangementer/arkiv/2013">2013</a></li>
  <li><a  href="http://www.byggesocietetet.dk/arrangementer/arkiv/2012">2012</a></li>
</ul>
  <div class="text top_2 {{ request.LANGUAGE_CODE }}">
    <font>{% textsnippet "arrangementer: tekst" %}</font>
  </div>
<script type="text/javascript">
  function abcd(a){
  var stringArray = a.split(/(\s+)/);
  
  var month=stringArray[0];
  var year=stringArray[2];

  switch (month) {
    case 'January':
        month = "Januar";
        break;
    case 'February':
        month = "Februar";
        break;
    case 'March':
        month = "Marts";
        break;
    case 'April':
        month = "April";
        break;
    case 'May':
        month = "Maj";
        break;
    case 'June':
        month = "Juni";
        break;
    case 'July':
        month = "Juli";
        break;
    case 'August':
        month = "August";
        break;
    case 'September':
        month = "September";
        break;
    case 'October':
        month = "Oktober";
        break; 
    case 'November':
        month = "November";
        break;
    case 'December':
        month = "December";                           
}
  document.getElementById(a).innerHTML = month+" "+year ;

}

  function abcde(a,b){
  var stringArray = a.split(/(\s+)/);
  
  var day=stringArray[0];
  var date=stringArray[2];
  var month=stringArray[4];
  switch (month) {
    case 'January':
        month = "Januar";
        break;
    case 'February':
        month = "Februar";
        break;
    case 'March':
        month = "Marts";
        break;
    case 'April':
        month = "April";
        break;
    case 'May':
        month = "Maj";
        break;
    case 'June':
        month = "Juni";
        break;
    case 'July':
        month = "Juli";
        break;
    case 'August':
        month = "August";
        break;
    case 'September':
        month = "September";
        break;
    case 'October':
        month = "Oktober";
        break; 
    case 'November':
        month = "November";
        break;
    case 'December':
        month = "December";                           
}

switch (day) {
    case 'Monday':
        day = "Mandag";
        break;
    case 'Tuesday':
        day = "Tirsdag";
        break;
    case 'Wednesday':
        day = "Onsdag";
        break;
    case 'Thursday':
        day = "Torsdag";
        break;
    case 'Friday':
        day = "Fredag";
        break;
    case 'Saturday':
        day = "Lørdag";
        break;
    case 'Sunday':
        day = "Søndag";
                                
}


  document.getElementById(a+b).innerHTML = day+" "+date+" "+month+"<br>"+b ;

}
</script>
  <div class="list">
    <table>
      <tr>
        <th></th><th><font>Dato</font></th><th><font>Arrangement</font></th><th><font>Arrangør</font></th>
      </tr>
      {% for event in events %}
      {% ifchanged %}
        <tr><td class="month" colspan="4">
		    {%with event.date|date:"F Y" as datex %}
			     <font><div id='{{datex}}' ><script type="text/javascript"> abcd('{{datex}}')</script>
           </div></font>
		    {% endwith %}
        
        </td></tr>
      {% endifchanged %}
        <tr class="row">
        <td class="nobreaks date"><a href="{% url event_detail event.url %}"><font><div id='{{ event.date|date:"l d. F" }}{{ event.time }}' >
        <script type="text/javascript"> abcde('{{ event.date|date:"l d. F" }}','{{ event.time }}')
        </script> </div> </font> </a> </td> 
        <td class="name">
          <a href="{% url event_detail event.url %}">
            <div class="title"><font>{{ event.name }}</font></div>
            <div class="snippet"><font>{{event.intro|safe|truncatewords:20 }}</font></div>
            <!-- truncatewords:10 -->
          </a>
        </td>
        <td class="text"><a href="{% url event_detail event.url %}"><font>{{ event.organizer }}</font></a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
  
</div>
{% endblock %}
