{% extends 'main/main.html' %}
{% load textsnippet thumbnail %}

{% block main %}
<script type="text/javascript">
   function abcde(a){
  var stringArray = a.split(/(\s+)/);
  var day=stringArray[0];
  var date=stringArray[2];
  var month=stringArray[4];
  var year=stringArray[6];
  switch (day) {
    case 'Monday,':
        day = "Mandag,";
        break;
    case 'Tuesday,':
        day = "Tirsdag,";
        break;
    case 'Wednesday,':
        day = "Onsdag,";
        break;
    case 'Thursday,':
        day = "Torsdag,";
        break;
    case 'Friday,':
        day = "Fredag,";
        break;
    case 'Saturday,':
        day = "Lørdag,";
        break;
    case 'Sunday,':
        day = "Søndag,";
                                
}
  switch (month) {
    case 'January':
        month = "Januar";
        break;
    case 'February':
        month = "Februar";
        break;
    case 'March':
        month = "Marts";
        break;
    case 'April':
        month = "April";
        break;
    case 'May':
        month = "Maj";
        break;
    case 'June':
        month = "Juni";
        break;
    case 'July':
        month = "Juli";
        break;
    case 'August':
        month = "August";
        break;
    case 'September':
        month = "September";
        break;
    case 'October':
        month = "Oktober";
        break; 
    case 'November':
        month = "November";
        break;
    case 'December':
        month = "December";                           
}




  document.getElementById('ab').innerHTML = day+" "+date+" "+month+" "+year ;

}
</script>
<div id="event" class="grid_8 top_2">
  <h1 class="bottom_2"><font>{{ event.name }}</font></h1>

  {% if event.image_detail %}
  <img src="{{ event.image_detail.url|noncroppedthumbnail:"540x3000" }}" width=100%/>
  {% endif %}

  <div class="info"><font><div id='ab' ><script type="text/javascript"> abcde('{{ event.date|date:"l, d. F Y" }}');</script>{% if event.time %} | {{ event.time }}{% endif %} | {{ event.organizer }} </div>
 
  </font></div>

  <div class="text top_2 ">
    <font>{{ event.text|safe }}</font>
  </div>

  {% if event.files.exists %}
  <div class="files top_2">
    <ul>
      {% for file in event.files.all %}
      <li><a href="{{ file.file.url }}">{{ file.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if not past %}
  {% if event.type == "bs" %}
  <form class="styled top_2" method="POST" action=".">
    <h1 class="bottom_2">{% textsnippet "arrangement: tilmeld titel" %}</h1>

    <div class="text">
      {% textsnippet "arrangement: tilmeld tekst" %}
    </div>

    <div class="summary bottom_2 top_2">
      <p><label>Arrangement-nummer:</label> <span>{{ event.event_number }}</span></p>
      <p><label>Arrangement-titel:</label> <span>{{ event.name }}</span></p>
      <p><label>Arrangement-sted:</label> <span>{{ event.place }}</span></p>
      <p><label>Arrangement-dato:</label> <span>{{ event.date }}{% if event.time %} {{ event.time }}{% endif %}</span></p>
      <p><label>Deltagerpris:</label> <span>{% if event.price_member %}kr. {{ event.price_member }},-{% else %}GRATIS ADGANG{% endif %}<br>{% if event.price_nonmember %}kr. {{ event.price_nonmember }},-{% else %}GRATIS ADGANG{% endif %} (for ikke-medlemmer)</span></p>
      <p><label>Beskrivelse:</label> <span>{{ event.intro|safe }}</span></p>
      <div class="clear"></div>
    </div>

    {% for field in form %}
    {% if field.is_hidden %}
    {{ field }}
    {% else %}
    <p class="{% if field.errors %}error{% endif %}">
      <label>{{ field.label }}</label> {{ field }}
    </p>
    {% endif %}
    {% endfor %}
    <p><label>&nbsp;</label><input class="button" type="submit" value="Tilmeld"></p>
  </form>
  {% else %}

  <a href="{{ event.signup_link }}">{% textsnippet "arrangement: eksternt link" %}</a>
  
  {% endif %}
  {% endif %}
</div>
{% endblock %}
