{% extends 'main/main.html' %}
{% load textsnippet thumbnail %}

{% block breadcrumb %}
{% endblock %}

{% block main %}
<div id="signup" class="grid_8 top_2">
  <h1 class="bottom_2">{% textsnippet "tilmeld arrangement fuldført: titel" %}</h1>

  <div class="text top_2">
    {% textsnippet "tilmeld arrangement fuldført: tekst" %}
  </div>
</div>
{% endblock %}
