{% extends 'base.html' %}
{% load textsnippet thumbnail %}

{% block content %}

        <section id="home">
      <!-- Carousel -->
      <div id="main-slide" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#main-slide" data-slide-to="0" class="active"></li>
        <li data-target="#main-slide" data-slide-to="1"></li>
        <li data-target="#main-slide" data-slide-to="2"></li>
    </ol>
    <!--/ Indicators end-->

    <!-- Carousel inner -->
    <div class="carousel-inner">
       {% for images in top_images|slice:":1" %}
        <div class="item active">
            <img class="img-responsive" src="{{ MEDIA_URL }}img/16_1040x340.jpg" alt="slider">
     <!--        <div class="slider-content">
                <div class="col-md-12 text-center">
                    <h2 class="animated2 white">
                        <span>Lorem <strong>Ipsum</strong></span>
                    </h2>
                    <h3 class="animated3 white">
                        <span>Lorem ipsum lorem ipsum lorem ipsum</span>
                    </h3>
                    <p class="animated4"><a href="#" class="slider btn btn-system btn-large">Check Now</a>
                    </p>
                </div>
            </div> -->
        </div>
         {% endfor %}
        <!--/ Carousel item end -->
        {% for images in top_images|slice:"1:2" %}
        <div class="item">
            <img class="img-responsive" src="{{ images.image.url }}" alt="slider">
          <!--   <div class="slider-content">
                <div class="col-md-12 text-center">
                    <h2 class="animated4 white">
                        <span><strong>Lorem</strong> ipsum lorem</span>
                    </h2>
                    <h3 class="animated5 white">
                        <span>Lorem ipsum lorem ipsum</span>
                    </h3>
                    <p class="animated6"><a href="#" class="slider btn btn-system btn-large">Buy Now</a>
                    </p>
                </div>
            </div> -->
        </div>
        {% endfor %}
        <!--/ Carousel item end -->
        <div class="item">
            <img class="img-responsive" src="{{ MEDIA_URL }}img/18_1040x340.jpg" alt="slider">
           <!--  <div class="slider-content">
                <div class="col-md-12 text-center">
                    <h2 class="animated7 white">
                        <span>Lorem <strong>ipsum lorem</strong></span>
                    </h2>
                    <h3 class="animated8 white">
                        <span>Lorem ipsum lorem ipsum</span>
                    </h3>
                    <div class="">
                        <a class="animated4 slider btn btn-system btn-large btn-min-block" href="#">Get Now</a><a class="animated4 slider btn btn-default btn-min-block" href="#">Live Demo</a>
                    </div>
                </div>
            </div> -->
        </div>
        <!--/ Carousel item end -->
    </div>
    <!-- Carousel inner end-->

    <!-- Controls -->
    <a class="left carousel-control" href="#main-slide" data-slide="prev">
        <span><i class="fa fa-angle-left"></i></span>
    </a>
    <a class="right carousel-control" href="#main-slide" data-slide="next">
        <span><i class="fa fa-angle-right"></i></span>
    </a>
</div>      <!-- /Carousel -->
    </section>

    <!-- Start Services Section -->
    <div class="section service">
      <div class="container">
        <div class="row">
          <h4 class="classic-title"><span> {% textsnippet "forside: nyheder" %}</span></h4>
        </div>
        <div class="row">
          <!-- Start Image Service Box 1 -->
           {% for item in news %}
          <div class="col-md-4 image-service-box">
            <!-- <img class="img-thumbnail" src="images/helmet.jpg" alt="" /> -->
            <h4>{{ item.title }}</h4>
            <p>
              {{ item.text|striptags|truncatewords_html:25|safe }}
            </p>
            <a href="{% url news_detail item.url %}" class="btn-system btn-mini border-btn"
               style=" bottom: -40px; right: 0px;"><i class="icon-heart-4"></i>Læs mere</a>
               <!-- position: absolute; -->
          </div>
          {% endfor %}
          <!-- End Image Service Box 1 -->
          </div>


        <!-- Divider -->
        <div class="hr1" style="margin-bottom:50px;"></div>

        <div class="row latest-posts-classic">

          <!-- Classic Heading -->
          <h4 class="classic-title"><span>{% textsnippet "forside: arrangementer" %}</span></h4>

          <!-- Post 1 -->
          {% for event in events %}
          <div class="col-md-6 post-row">
            <div class="left-meta-post">
              <div class="post-date"><span class="day">{{ event.date|date:"d" }}</span><span class="month">{{ event.date|date:"M" }}</span></div>
              <div class="post-type"><i class="fa fa-calendar"></i></div>
            </div>
            <a href="{% url event_detail event.url %}">
            <div class="left-meta-post">
            {% if event.image %}
            <img src="{{ event.image.url|croppedthumbnail:"180x120" }}">
            {% endif %}
            </div>
            <h3 class="post-title"><a href="arrangementer/{{ event.url }}">{{ event.name }}</a></h3>
            <div class="post-content">
              <p>
                {{ event.intro|striptags|safe|truncatewords:30 }}<br><a href="arrangementer/{{ event.url }}">L&aelig;s mere</a>
</p>
            </div>
            </a>
          </div>

          {% endfor %}

         
    

        </div>



      </div>
      <!-- .container -->


    </div>

      <!-- End Services Section -->
       <div class="section purchase" style="background: url('{{ MEDIA_URL }}img/bggrad.png') no-repeat;">
      <div class="container">

        <!-- Start Recent News Carousel -->
<div class="recent-projects">
    <h4 class="title"><span style="color: #fff">{% textsnippet "forside: rss" %}</span></h4>
     
    <div class="projects-carousel touch-carousel">
    {% for item in feed %}
        <div class="portfolio-item item">
            <div class="portfolio-border" style="background-color: rgba(255, 255, 255, 0.33); height: 250px;">
                <div class="portfolio-details">
                    <a href="{{ item.link }}" target="_blank">
                        <h4>{{ item.title|striptags }}</h4>
                        <span>{{ item.description|striptags|safe|truncatewords:30 }}</span>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
  </div>
  </div>
  </div>


   <div id="content">
      <div class="container">

        <!-- Start Services Icons -->
        <div class="row">

          <!-- Start Service Icon 1 -->
          {% for i in bottom_images %}
          <div class="col-md-4 col-sm-4 service-box service-center">
            <div class="service-boxed">
              <a {% if i.link %}href="{{ i.link }}"{% endif %}>
              <div class="service-icon" style="margin-top:-25px;">
                <i class="fa fa-bold icon-medium-effect icon-effect-2"></i>
              </div>
              <div class="service-content">
                {% if i.id == 5 %} 
                <h4> Om Byggesocietetet</h4>
                {% endif %}
                {% if i.id == 6 %} 
                <h4> Kontakt</h4>
                {% endif %}
                {% if i.id == 11 %} 
                <h4> Estate Media</h4>
                {% endif %}
              </div>
              </a>
            </div>
          </div>
          {% endfor %}

</div>
</div>
</div>

{% endblock %}
   



