{% extends 'main/main.html' %}
{% load textsnippet thumbnail i18n %}

{% block breadcrumb %}
{% endblock %}

{% block main %}
<div id="login" class="grid_8 top_2 members">
  <h1 class="bottom_2">Log ind</h1>

{% if form.errors %}
<p class="errornote">
{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
</p>
{% endif %}

{% if form.non_field_errors  %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<form class="styled" action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
    {% for field in form %}
    <p class="{% if field.errors %}error{% endif %}">
      <label>{{ field.label }}</label> {{ field }}
    </p>
    {% endfor %}
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="hidden" name="next" value="{{ next }}" />

    <p><label>&nbsp;</label><input class="button" type="submit" value="Log ind"></p>

</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>

</div>
{% endblock %}
