{% extends 'base.html' %}

{% block content %}

<div class="breadcrumb grid_8 top_2">
{% block breadcrumb %}{% endblock %}

<div class="clear"></div>



{% include 'main/include/leftmenu.html' %}
{% block main %}{% endblock %}
{% include 'main/include/upcoming-events.html' %}
</div>

{% endblock %}
