<style>
#front{
  height:300px;
  width:100%;
}
body { position: absolute; }
  
</style>
{% extends 'main/main.html' %}
{% load textsnippet thumbnail %}

{% block breadcrumb %}
  <font>{{ page.get_section_display }} /</font>
  <a class="current" href="{% url members_page %}"><font class="a">{{ page.menu }}</font></a>
  <img id="front" src="{{ MEDIA_URL }}dyn/blog/1.jpg">
{% endblock %}

{% block main %}
<div id="page" class="grid_8 top_2 members">
  <h1 class="bottom_2"><font>{{ page.name }}</font></h1>

  {% if page.image %}
  <img src="{{ page.image.url|noncroppedthumbnail:"550x3000" }}"/>
  {% endif %}

  {% if page.intro %}
  <div class="intro top_2">
    {{ page.intro|safe }}
  </div>  
  {% endif %}

  <div class="text top_2">
    {{ page.text|safe }}
  </div>  
</div>
{% endblock %}
