<style>
          
/*.ui-tooltip {
 padding: 10px;
 position: absolute;
 z-index: 9999;
max-width: 300px;
-webkit-box-shadow: 0 0 5px #aaa;
box-shadow: 0 0 5px #aaa;
 }*/

/*body .ui-tooltip {
 border-width: 1px;
color: #FFFFFF;
background: #454545;
text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
 }*/

html { overflow-y: scroll; overflow-x:hidden; }
body { position: absolute; }
body {
  overflow-y: scroll;
}
 img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
    /*position: absolute;*/
    left: 5%; right:0;
    margin: auto;
}
.location_image {float:right; width:20%}
.location_image img {width:100%; max-width:100%}
 .sample {
  width: 50%;
  height: 100%;
    /*display: inline-block;*/
 }

 .sample1 {display: none;}

@media screen and (max-width:780px) {
 .sample {display: none;}
 .sample1 {display:block;}
}

a {
    text-decoration: none !important;
}
.box:hover {
  -webkit-filter: sepia(0);
  filter: sepia(0);
  background-color: #f0ae82;
}

.box{
    
    background-color: #f36510;
    width: 300px;
    padding: 25px;
    margin: 25px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.box h1{
  text-align: center;
  font-size: 100%;
}



area:focus{
  border: none;
  outline-style: none; 
  -moz-outline-style:none;  
}

#front{
  height:300px;
  width:100%;
}
  
</style>
<link href="include/mapify.scss" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="include/mapify.js" type="text/javascript"></script>
<!-- <script src="include/jquery.rwdImageMaps.min.js" type="text/javascript"></script> -->
<script>

$(document).ready(function(){ 
    var ImageMap = function (map, img) {
            var n,
                areas = map.getElementsByTagName('area'),
                len = areas.length,
                coords = [],
                previousWidth = 128;
            for (n = 0; n < len; n++) {
                coords[n] = areas[n].coords.split(',');
            }
            this.resize = function () {
                var n, m, clen,
                    x = img.offsetWidth / previousWidth;
                for (n = 0; n < len; n++) {
                    clen = coords[n].length;
                    for (m = 0; m < clen; m++) {
                        coords[n][m] *= x;
                    }
                    areas[n].coords = coords[n].join(',');
                }
                previousWidth = document.body.clientWidth;
                return true;
            };
            window.onresize = this.resize;
        },
        imageMap = new ImageMap(document.getElementById('planetmap'), document.getElementById('my_image'));
    imageMap.resize();
    return;
});
// window.onload = jsCall;
//$(window).resize(function(){location.reload();});
// $(document).ready(function(e) {
//     $('img[usemap]').rwdImageMaps();
// });

$("img[usemap]").mapify({
  popOver: {
    content: function(zone){ 
      return "<strong>"+zone.attr("data-title")+"</strong>"+zone.attr("data-nbmembre")+" Members";
    },
    delay: 0.7,
    margin: "15px",
    height: "130px",
    width: "260px"
  }
});



</script>


{% extends 'main/main.html' %}
{% load textsnippet thumbnail %}

{% block breadcrumb %}
  <font>{{ page.get_section_display }} /</font>
  <a class="current" href="{% url member_group_page_default group %}"><font class="a">{{ page.menu }}</font></a>
  <!-- <img id="front" src="{{ MEDIA_URL }}dyn/blog/1.jpg"> -->
  <img id="front" src="{{ page.front_image.url }} ">
{% endblock %}

{% block main %}
<div id="page" class="grid_8 top_5 members">
  <h1 class="bottom_2"><font>{{ page.name }}</font></h1>




  {% if page.intro %}
  <div class="intro top_2">
    {{ page.intro|safe }}
  </div>  
  {% endif %}

  <div class="text top_2">
    {{ page.text|safe }}
  </div> 
  <div class="text top_2" >
  {% if page.id == 3 %}
  
   <img id= "my_image" src="{{ page.image.url }}"  alt="Planets" width=100% usemap="#planetmap" >
    <map name="planetmap" id="planetmap">
    	<area shape="rect" coords="50,10,70,30" href="Vendsyssel" alt="Vendsyssel" title="Vendsyssel" />
    	<area shape="rect" coords="40,30,60,55" href="aalborg" alt="Aalborg" title="Aalborg" />
    	<area shape="rect" coords="50,65,70,85" href="aarhus" alt="aarhus" title="Aarhus" />
    	<area shape="rect" coords="50,105,75,125" href="fyn" alt="fyn" title="Fyn" />
    	<area shape="rect" coords="30,95,50,125" href="trekantomraadet" alt="trekantomraadet" title="Trekantomraadet" />
    	<area shape="rect" coords="10,95,30,125" href="sydogvestjylland" alt="sydogvestjylland" title="Sydogvestjylland" />
    	<area shape="rect" coords="85,105,105,130" href="Midtsjaelland" alt="Midtsjaelland" title="Midtsjaelland" />
    	<area shape="rect" coords="105,100,125,120" href="sydsjaelland" alt="sydsjaelland" title="Sydsjaelland" />
    	<area shape="rect" coords="105,75,130,100" href="koebenhavn" alt="koebenhavn" title="Koebenhavn" />

      <!--  <area shape="circle" coords="480,370,30" alt="koebenhavn" href="koebenhavn" title="Koebenhavn">
        <area shape="circle" coords="230,300,30" alt="aarhus" href="aarhus" title="Aarhus">
        <area shape="circle" coords="440,420,30" alt="midtsjaelland" href="midtsjaelland" title="Midtsjaelland"> 
        <area shape="circle" coords="390,460,30" alt="sydsjaelland" href="sydsjaelland" title="Sydsjaelland">
        <area shape="circle" coords="260,430,30" alt="fyn" href="fyn" title="Fyn">
        <area shape="circle" coords="195,135,30" alt="aalborg" href="aalborg" title="Aalborg">
        <area shape="circle" coords="170,400,30" alt="trekantomraadet" href="trekantomraadet" title="Trekantomraadet">
        <area shape="circle" coords="60,420,30" alt="sydogvestjylland" href="sydogvestjylland" title="Sydogvestjylland">
        <area shape="rect" coords="180,40,280,80" alt="vendsyssel" href="vendsyssel" title="Vendsyssel"> -->
    </map>

  {% endif %}


  {% if page.id == 4 %}
  <div class="sample">
  <table border=0 >
  {% for boxs in box %}
  {% if forloop.counter0|divisibleby:2 %}
  <tr>
  <td><figure><a href="{{ boxs.url }}"><div class="box">
  <h1>{{ boxs.menu }}</h1>
  </div></a></figure></td>
  {% else %}
  <td><figure><a href="{{ boxs.url }}"><div class="box">
  <h1>{{ boxs.menu }}</h1>
  </div></a></figure></td>
  </tr>

 <!--  <tr>
  <td><figure><a href="-og-planudvalget"><div class="box">
  <h1>By- og Planudvalget</h1>
  </div></a></figure></td>
  <td><figure><a href="Bygherreudvalget"><div class="box">
  <h1>Bygherreudvalget</h1>
  </div></a></figure></td>
  </tr> -->
  {% endif %}
  {% endfor %}
  </table>
  </div>

<!--   <div class="sample1">
 	<figure><a href="Akkvisitionsudvalget"><div class="box">
  <h1>Akkvisitionsudvalget</h1>
  </div></a></figure>
  <figure><a href="Boligudvalget"><div class="box">
  <h1>Boligudvalget</h1>
  </div></a></figure><figure><a href="-og-planudvalget"><div class="box">
  <h1>By- og Planudvalget</h1>
  </div></a></figure><figure><a href="Bygherreudvalget"><div class="box">
  <h1>Bygherreudvalget</h1>
  </div></a></figure>
  </div> -->
{% endif %}
  </div> 
</div>
{% endblock %}








