<style>
#front{
  height:300px;
  width:100%;
}
body { position: absolute; }

p{
  color:black;
}
</style>
{% extends 'main/main.html' %}
{% load textsnippet thumbnail %}



{% block breadcrumb %}
  <a href="{% url member_group_page_default group.type %}"><font class="a">{{ group.get_type_display }}</a> /</font>
  <a class="current" href="{% url member_group group.type group.url %}"><font class="a">{{ group.menu }}</font></a>
  
  <!-- <img id="front" src="{{ MEDIA_URL }}dyn/blog/1.jpg"> -->
  {% if group.extra_image1 %}
  <img id="front" src="{{ group.extra_image1.url }}">
  {% endif %}
{% endblock %}

{% block main %}
<div id="group" class="grid_8 top_2 members">
  <h1 class="bottom_2"><font>{{ group.name }}</font></h1>

  {% if group.image %}
  <img src="{{ group.image.url|noncroppedthumbnail:"550x3000" }}"/>
  {% endif %}

  {% if group.intro %}
  <div class="intro top_2">
    {{ group.intro|safe }}
  </div>  
  {% endif %}

  <div class="text top_2">
    <font>{{ group.text|safe }}</font>
  </div>

  {% if group.files.exists %}
  <div class="files top_2">
    <ul>
      {% for file in group.files.all %}
      <li><a href="{{ file.file.url }}">{{ file.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if group.extra_text %}
  <div class="extra top_3">
    <div class="grid_3 alpha">&nbsp;
    {% if group.extra_image %}
    <br>
    <img src="{{ group.extra_image.url|noncroppedthumbnail:"550x3000" }}">
    {% endif %}
    </div>
    
    <div class="grid_5 omega">
      
      <h3><font>{{ group.extra_header }}</font></h3><br>
      <!-- <font size="4">{{ group.extra_header|upper|safe }}</font> -->
      <font class="grid_5" size="2">{{ group.extra_text|safe }}</font>

    </div>
    <div class="clear"></div>
  </div>
  {% endif %}

  <div class="board memberList top_2">
    <h3><font>{{ group.name }} {% if group.type == "lokalomraade" %}bestyrelse{% else %}medlemmer{% endif %}:</font></h3>

    <table>

      {% for member in group.winkas_president %}
      <tr><td class="tiny"><font size="2">formand</font></td><td><font size="2">{{ member.company }}</font></td><td><font size="2">{{ member.name }}</font></td><td><font size="2">{{ member.email }}</font></td></tr>
      {% endfor %}
      {% for member in group.winkas_vicepresident %}
      <tr><td class="tiny"><font size="2"><font size="2">næstformand</font></td><td><font size="2">{{ member.company }}</font></td><td><font size="2">{{ member.name }}</font></td><td><font size="2">{{ member.email }}</td></tr>
      {% endfor %}
      {% for member in group.winkas_treasurer %}
      <tr><td class="tiny"><font size="2"><font size="2">kasserer</font></td><td><font size="2">{{ member.company }}</font></td><td><font size="2">{{ member.name }}</font></td><td><font size="2">{{ member.email }}</font></td></tr>
      {% endfor %}
      {% for member in group.winkas_alternates %}
      <tr><td class="tiny"><font size="2"><font size="2">sekretær</font></td><td><font size="2">{{ member.company }}</font></td><td><font size="2">{{ member.name }}</font></td><td><font size="2">{{ member.email }}</font></td></tr>
      {% endfor %}
      {% for member in group.winkas_board %}
      <tr><td class="tiny"></td><td><font size="2">{{ member.company }}</font></td><td><font size="2">{{ member.name }}</font></td><td><font size="2">{{ member.email }}</font></td></tr>
      {% endfor %}

      {% if group.type == "bs-gruppe" %}
      {% for member in group.winkas_members %}
      <tr><td class="tiny"></td><td><font size="2">{{ member.company }}</font></td><td><font size="2">{{ member.name }}</font></td><td><font size="2">{{ member.email }}</font></td></tr>
      {% endfor %}
      {% endif %}
    </table>
  </div>

</div>
{% endblock %}
