{% extends 'base.html' %}
{% load textsnippet thumbnail %}

{% block content %}
<style type="text/css">
  tr th,td{
    color:black;
  }
/*  th{
    color:black;
  }*/
</style>

<div class="breadcrumb grid_8 top_6">
{% block breadcrumb %}{% endblock %}
</div>

<div class="clear"></div>

<div id="members">
  <h1 class="bottom_2"><{% textsnippet "medlemmer: titel" %}</h1>

  <div class="text top_2">
    {% textsnippet "medlemmer: tekst" %}
  </div>

  <form class="top_2" method="GET" action=".">
    Søg: {{ form.query }} {{ form.group }}
    <input type="submit" value="Søg">
  </form>

  <div class="memberList top_2">
    {% if members %}
    <table>
      <tr>
        <th>Firma</th>
        <th>Navn</th>
        <th>Telefon</th>
        <th>Mobil</th>
        <th>Adresse</th>
        <th>Email</th>
        <th>Område</th>
      </tr>
      {% for member in members %}
      <tr>
        <td>{{ member.company }}</td>
        <td>{{ member.name }}</td>
        <td>{{ member.phone }}</td>
        <td>{{ member.mobile }}</td>
        <td class="tiny">{% if member.address %}{{ member.address }}, {{ member.zipcode }} {{ member.city }}{% endif %}</td>
        <td><a href="mailto:{{ member.email }}">{{ member.email }}</a></td>
        <td class="tiny">{{ member.community }}</td>
      </tr>
      {% endfor %}
    </table>
    <div class="none">{{ members.count }} resultater</div>
    {% else %}
      <div class="none">ingen resultater</div>
    {% endif %}
  </div>
</div>

{% endblock %}

