{% extends 'main/main.html' %}
{% load textsnippet thumbnail %}

{% block breadcrumb %}
{% endblock %}

{% block main %}
<div id="page" class="grid_8 top_2">
  <h1 class="bottom_2"><font>{% textsnippet "bliv medlem: titel" %}</font></h1>


  <div class="text top_2">
    <font>{% textsnippet "bliv medlem: tekst" %}</font>

  </div>

  <!-- <h1 class="bottom_2">{% textsnippet "bliv medlem: blanket titel" %}</h1>
  <a href= "{% url details %}">Læs regler</a> -->

  <!-- <div class="text top_2">
    {% textsnippet "bliv medlem: blanket tekst" %}
  </div> -->

  <form class="styled top_2" method="POST" action=".">
    {% for field in form %}
    <p class="{% if field.errors %}error{% endif %}">
      <!-- {% if field.name == "accept_visibility" %} -->
     <!--  <label>{{ field }}</label> {{ field.label }}
      {% else %} -->
      <label>{{ field.label }}</label> {{ field }}
      <!-- {% endif %} -->
    </p>
    {% endfor %}
    <p><label>&nbsp;</label><input class="button" type="submit" value="Indsend"></p>
  </form>
</div>
{% endblock %}