{% extends 'main/main.html' %}
{% load textsnippet thumbnail %}

{% block breadcrumb %}
  <a href="{% url news_overview %}"><font class="a">{% textsnippet "brødkrumme: nyheder" %}</a> /</font>
  <a class="current" href="{% url news_detail news.url %}"><font class="a">{{ news.title }}</font></a>
{% endblock %}

{% block main %}
<div id="news" class="grid_8 top_2 members">
  <h1 class="bottom_2"><font>{{ news.title }}</font></h1>

  {% if news.image %}
  <img src="{{ news.image.url|noncroppedthumbnail:"550x3000" }}"/>
  {% endif %}

  <div class="text top_2">
    <font>{{ news.text|safe }}</font>
  </div>

  {% if news.files.exists %}
  <div class="files top_2">
    <ul>
      {% for file in news.files.all %}
      <li><a href="{{ file.file.url }}"><font>{{ file.name }}</font></a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>
{% endblock %}
