{% extends 'main/main.html' %}
{% load textsnippet thumbnail %}

{% block breadcrumb %}
  <font>Nyheder</font>
{% endblock %}

{% block main %}
<style>
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #f36510;}
</style>

<div id="events">
<!-- <h3>filter efter år</h3> -->

  <h1 class="bottom_2"><font>{% textsnippet "nyhedsoversigt: titel" %}</font></h1>
  <ul class="pagination">
  
  <li><a href="http://www.byggesocietetet.dk/nyheder/2016" >2016</a></li>
  <li><a href="http://www.byggesocietetet.dk/nyheder/2015">2015</a></li>
  <li><a  href="http://www.byggesocietetet.dk/nyheder/2014">2014</a></li>
  <li><a  href="http://www.byggesocietetet.dk/nyheder/2013">2013</a></li>
  <li><a  href="http://www.byggesocietetet.dk/nyheder/2012">2012</a></li>
</ul>
  <div class="text top_2">
    {% textsnippet "nyhedsoversigt: tekst" %}
  </div>
<script type="text/javascript">
function abc(a){
  var stringArray = a.split(/(\s+)/);
  var date=stringArray[0];
  var month=stringArray[2];

  switch (month) {
    case 'January':
        month = "Januar";
        break;
    case 'February':
        month = "Februar";
        break;
    case 'March':
        month = "Marts";
        break;
    case 'April':
        month = "April";
        break;
    case 'May':
        month = "Maj";
        break;
    case 'June':
        month = "Juni";
        break;
    case 'July':
        month = "Juli";
        break;
    case 'August':
        month = "August";
        break;
    case 'September':
        month = "September";
        break;
    case 'October':
        month = "Oktober";
        break; 
    case 'November':
        month = "November";
        break;
    case 'December':
        month = "December";                           
}
  document.getElementById(a).innerHTML = date+" "+month ;

}

function abcd(a){
  var stringArray = a.split(/(\s+)/);
  
  var month=stringArray[0];
  var year=stringArray[2];

  switch (month) {
    case 'January':
        month = "Januar";
        break;
    case 'February':
        month = "Februar";
        break;
    case 'March':
        month = "Marts";
        break;
    case 'April':
        month = "April";
        break;
    case 'May':
        month = "Maj";
        break;
    case 'June':
        month = "Juni";
        break;
    case 'July':
        month = "Juli";
        break;
    case 'August':
        month = "August";
        break;
    case 'September':
        month = "September";
        break;
    case 'October':
        month = "Oktober";
        break; 
    case 'November':
        month = "November";
        break;
    case 'December':
        month = "December";                           
}
  document.getElementById(a).innerHTML = month+" "+year ;

}
</script>
  <div class="list">
    <table>
      {% for news in news_items %}
      {% ifchanged %}<tr><td class="month" colspan="4"><font><div id='{{ news.published|date:"F Y" }}' ><script type="text/javascript"> abcd('{{ news.published|date:"F Y" }}');</script></div></font></td></tr>{% endifchanged %}
      <tr class="row">
        <td class="nobreaks date"><a href="{% url news_detail news.url %}"><font ><div id='{{ news.published|date:"d F"}}' ><script type="text/javascript"> abc('{{ news.published|date:"d F" }}');</script></div></font></a></td>
        <td class="name"><a href="{% url news_detail news.url %}"><font>{{ news.title }}</font></a></td>
        <td class="text"><a href="{% url news_detail news.url %}"><font>{{ news.text|striptags|truncatewords:20|safe }}</font></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
  
</div>


{% endblock %}















