
<style>
#front{
  height:300px;
  width:100%;
}
/*html { overflow-y: scroll; overflow-x:hidden; }*/
body { position: absolute; }
/*body {
  overflow-y: scroll;
}*/
</style>
{% extends 'main/main.html' %}
{% load textsnippet thumbnail %}

{% block breadcrumb %}
  <font >{{ page.get_section_display }} /</font>
  <a class="current" href="{% url about_page page.url %}"><font class="a">{{ page.menu }}</font></a>
 <!-- <img id="front" src="{{ MEDIA_URL }}dyn/blog/1.jpg"> -->
<img id="front" src="{{ page.front_image.url }} ">
{% endblock %}

{% block main %}
{% if page.name != "Kontakt" %}
<div id="page" class="grid_8 top_2 members">
  <h1 class="bottom_2"><font>{{ page.name }}</font></h1>

  {% if page.image %}
  <img src="{{ page.image.url|noncroppedthumbnail:"550x3000" }}"/>
  {% endif %}

  {% if page.intro %}
  <div class="intro top_2">
    {{ page.intro|safe }}
  </div>  
  {% endif %}

  <div class="text top_2">
    {{ page.text|safe }}
  </div>  

  {% if page.files.exists %}
  <div class="files top_2">
    <ul>
      {% for file in page.files.all %}
      <li><a href="{{ file.file.url }}">{{ file.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% else %}
 <!-- Bootstrap CSS  -->
  <link rel="stylesheet" href="asset/css/bootstrap.min.css" type="text/css" media="screen">

  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="screen">

  <!-- Slicknav -->
  <link rel="stylesheet" type="text/css" href="css/slicknav.css" media="screen">

  <link rel="stylesheet" type="text/css" href="css/style.css" media="screen">

  <!-- Responsive CSS Styles  -->
  <link rel="stylesheet" type="text/css" href="css/responsive.css" media="screen">

  <!-- Color CSS Styles  -->
  <link rel="stylesheet" type="text/css" href="css/colors/orange.css" title="orange" media="screen" />


  <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="js/jquery.migrate.js"></script>
  <script type="text/javascript" src="js/modernizrr.js"></script>
  <script type="text/javascript" src="asset/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery.fitvids.js"></script>
  <script type="text/javascript" src="js/owl.carousel.min.js"></script>
  <script type="text/javascript" src="js/nivo-lightbox.min.js"></script>
  <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
  <script type="text/javascript" src="js/jquery.appear.js"></script>
  <script type="text/javascript" src="js/count-to.js"></script>
  <script type="text/javascript" src="js/jquery.textillate.js"></script>
  <script type="text/javascript" src="js/jquery.lettering.js"></script>
  <script type="text/javascript" src="js/jquery.easypiechart.min.js"></script>
  <script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
  <script type="text/javascript" src="js/jquery.parallax.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA59MaXl6fYZ_YVjGcXbBoPgiHOqVMTWI0"></script>

  <script type="text/javascript" src="js/jquery.slicknav.js"></script>


  <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->


  <!-- Google Maps -->
  <style>
    #google-map,
    body,
    html {
      padding: 0;
      height: 400px;
    }

    #upcoming{
      display: none;

    }

    #leftmenu{
  display: none;
}
#front{
  display: none;
}
  </style>
   <div id="google-map"></div>


    <!-- Google Maps JS Only for Contact Pages -->
    <script type="text/javascript">
      var map;
      var plain = new google.maps.LatLng(55.6842064,12.5715674);
      var mapCoordinates = new google.maps.LatLng(55.6842064,12.5715674);


      var markers = [];
      var image = new google.maps.MarkerImage(
          'images/map-marker.png'
      );

      function addMarker() {
        markers.push(new google.maps.Marker({
              position: plain,
              raiseOnDrag: false,
              icon: image,
              map: map,
              draggable: false
            }
        ));

      }

      function initialize() {
        var mapOptions = {
              backgroundColor: "#ffffff",
              zoom: 14,
              disableDefaultUI: true,
              center: mapCoordinates,
              zoomControl: true,
              scaleControl: false,
              scrollwheel: false,
              disableDoubleClickZoom: true,
              mapTypeId: google.maps.MapTypeId.ROADMAP,
              styles: [{
                "featureType": "landscape.natural",
                "elementType": "geometry.fill",
                "stylers": [{
                  "color": "#ffffff"
                }
                ]
              }
                , {
                  "featureType": "landscape.man_made",
                  "stylers": [{
                    "color": "#ffffff"
                  }
                    , {
                      "visibility": "off"
                    }
                  ]
                }
                , {
                  "featureType": "water",
                  "stylers": [{
                    "color": "#80C8E5"
                  }
                    , {
                      "saturation": 0
                    }
                  ]
                }
                , {
                  "featureType": "road.arterial",
                  "elementType": "geometry",
                  "stylers": [{
                    "color": "#999999"
                  }
                  ]
                }
                , {
                  "elementType": "labels.text.stroke",
                  "stylers": [{
                    "visibility": "off"
                  }
                  ]
                }
                , {
                  "elementType": "labels.text",
                  "stylers": [{
                    "color": "#333333"
                  }
                  ]
                }

                , {
                  "featureType": "road.local",
                  "stylers": [{
                    "color": "#dedede"
                  }
                  ]
                }
                , {
                  "featureType": "road.local",
                  "elementType": "labels.text",
                  "stylers": [{
                    "color": "#666666"
                  }
                  ]
                }
                , {
                  "featureType": "transit.station.bus",
                  "stylers": [{
                    "saturation": -57
                  }
                  ]
                }
                , {
                  "featureType": "road.highway",
                  "elementType": "labels.icon",
                  "stylers": [{
                    "visibility": "off"
                  }
                  ]
                }
                , {
                  "featureType": "poi",
                  "stylers": [{
                    "visibility": "off"
                  }
                  ]
                }

              ]

            }
            ;
        map = new google.maps.Map(document.getElementById('google-map'), mapOptions);
        addMarker();

      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <div id="content">
      <div class="container">

        <div class="row">

          <div class="col-md-8">

            <!-- Classic Heading -->
            <h4 class="classic-title"><span>Contact Us</span></h4>

            <!-- Start Contact Form -->
            <form role="form" class="contact-form" id="contact-form" method="post">
              <div class="form-group">
                <div class="controls">
                  <input type="text" placeholder="Name" name="name">
                </div>
              </div>
              <div class="form-group">
                <div class="controls">
                  <input type="email" class="email" placeholder="Email" name="email">
                </div>
              </div>
              <div class="form-group">
                <div class="controls">
                  <input type="text" class="requiredField" placeholder="Subject" name="subject">
                </div>
              </div>

              <div class="form-group">

                <div class="controls">
                  <textarea rows="7" placeholder="Message" name="message"></textarea>
                </div>
              </div>
              <button type="submit" id="submit" class="btn-system btn-large">Send</button>
              <div id="success" style="color:#34495e;"></div>
            </form>
            <!-- End Contact Form -->

          </div>

          <div id=class="col-md-4">

            <!-- Classic Heading -->
            <h4 class="classic-title"><span>Information</span></h4>

            <!-- Some Info -->
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>

            <!-- Divider -->
            <div class="hr1" style="margin-bottom:10px;"></div>

            <!-- Info - Icons List -->
            <ul class="icons-list">
              <li><i class="fa fa-globe">  </i> <strong>Address:</strong> Nørre Voldgade 106, 1358-København K, CVR 3701 9410</li>
              <li><i class="fa fa-envelope-o"></i> <strong>Email:</strong> info@byggesoc.dk</li>
              <li><i class="fa fa-mobile"></i> <strong>Phone:</strong> 3313 6637</li>
            </ul>

            <!-- Divider -->
            <div class="hr1" style="margin-bottom:15px;"></div>

            <!-- Classic Heading -->
            <h4 class="classic-title"><span>Working Hours</span></h4>

            <!-- Info - List -->
            <ul class="list-unstyled">
              <li><strong>Monday - Friday</strong> - 9am to 5pm</li>
              <li><strong>Saturday</strong> - 9am to 2pm</li>
              <li><strong>Sunday</strong> - Closed</li>
            </ul>

          </div>

        </div>

      </div>
    </div>

  {% endif %}
</div>
{% endblock %}
