{% extends 'main/main.html' %}

{% block breadcrumb %}{% endblock %}

{% block main %}
<div id="error" class="grid_8 top_2">
  <h1 class="bottom_2">Kommunikationsfejl</h1>

  <div class="text top_2">
    Forbindelse til Winkas kunne ikke etableres
  </div>
</div>
{% endblock %}
