.list table .month {
  border-top: 2px solid #ea5e02;
  color: #444;
  padding-bottom: 20px;
}

.container_15 .grid_3 {
margin-top: 10px;
}


form.styled input.button {
background-color: #ea5e02;
}

#event form .summary {
color: #ea5e02;
}

.list table tr.row:hover td {
  background-color: #ee7e34;
  color: #fff;
}


.orangeDark {
  background-color: #cc5202;
}

.orangeMedium {
  background-color: #ea5e02;
}

.orangeLight {
  background-color: #ee7e34;
}

.orangeLightest {
  background-color: #f4aa7a;
}



#home .event img {
float: left;
margin: 16px 10px 20px 0;
}

a:hover {
  color: #ea5e02;
}


#leftmenu .active {
color: #ea5e02;
}

#menu a:hover,
#menu a.active {
  color: #fff;
  background-color: #ea5e02;
}

#home .separator {
  color: #ea5e02;
  font-size: 11px;
  line-height: 20px;
}

#group .extra h2 {
font-size: 12px;
color: #555;

}

#group .extra p {
font-size: 10px;
color: #A0A0A0;

font-family: 'ArialMT', 'Arial', sans-serif;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: 400;
letter-spacing: 0;
line-height: 14px;

opacity: 1.00;
padding-bottom: 0px;
padding-top: 0px;
padding-right: 0px;
text-align: left;
text-decoration: none;
text-indent: 0px;
text-transform: none;
}



li {
list-style-type:none;
}

#leftmenu {
margin-top: 74px;
}

#upcoming .rss {
margin: 25px 0 20px;
}



p, pre {
margin-right: 20px;

}

.bottom_2 {
margin-bottom: 20px;
}





hr {
border: none;
background-color: #ccc;
 color: #ccc;
height: 1px;
	}


.intro {
font-size: 18px;

font-family: 'ArialMT', 'Arial', sans-serif;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: 400;
letter-spacing: 0;
line-height: 20px;

opacity: 1.00;
padding-bottom: 0px;
padding-top: 0px;
padding-right: 20px;
text-align: left;
text-decoration: none;
text-indent: 0px;
text-transform: none;
}



body {
font-size: 14px;
color: #555;

font-family: 'ArialMT', 'Arial', sans-serif;

font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: 400;
letter-spacing: 0;
line-height: 17px;


opacity: 1.00;

text-align: left;
text-decoration: none;
text-indent: 0px;
text-transform: none;
}


#upcoming .event p {
color: #888;
font-size: 12px;
}

h3 {
font-size: 15px;
}

h1 {
font-size: 22px;
font-weight: bold;
}



a {
color: #555;
}

h1, h2, h3, h4 {
color: #555;
}

.memberList table td {

font-size: 11px;
/* rettet fra 10 px og farven er ændret fra ea5e02 * /
color: #555;
}



#event form .info {
color: #ea5e02;
font-size: 12px;

}

label {
font-size: 12px;
}

form.styled {
font-size: 12px;
}

#upcoming .rss {
line-height: 11px;
font-weight: normal;
}
.memberList table td.tiny
{
font-size 11px;
color: #555;
}
