{% load thumbnail %}
{% if obj.image %}
<div style="float: left; margin-right: 20px; margin-bottom: 20px;"><img src="{{ obj.image.url|noncroppedthumbnail:"200x200" }}"/></div>
{% endif %}

<div class="text">
  {{ obj.text|safe }}
</div>
