{% if settings.RUNNING_ON_LIVE %}
<script type="text/javascript"> 
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript"> 
try {
var pageTracker = _gat._getTracker("UA-XXXXXXX-X");
//pageTracker._setDomainName(".domain.dk");
pageTracker._trackPageview();
} catch(err) {}
</script> 
{% endif %}
