<!DOCTYPE html>
<html lang="da">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{{ title }} Byggesocietetet</title>
  <meta name="description" content="">
  <meta name="author" content="">
  
  <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->

  <link rel="stylesheet" href="{{ MEDIA_URL }}css/normalize.css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/grid.css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/layout.css">
<link rel="stylesheet" href="{{ MEDIA_URL }}asset/css/bootstrap.min.css" type="text/css" media="screen">

  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/font-awesome.min.css" type="text/css" media="screen">

  <!-- Slicknav -->
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/slicknav.css" media="screen">

  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" media="screen">

  <!-- Responsive CSS Styles  -->
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/responsive.css" media="screen">

  <!-- Css3 Transitions Styles  -->
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/animate.css" media="screen">

  <!-- Color CSS Styles  -->
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/colors/orange.css" title="orange" media="screen" />
  <!-- <link rel="stylesheet" href="{{ MEDIA_URL }}css/normalize.css"> -->
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/grid.css">
  
  <!-- <link rel="stylesheet" href="{{ MEDIA_URL }}css/layout.css"> -->
  {% if custom_style_sheet %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}{{ custom_style_sheet }}">
  {% endif %}
  
  <!--[if lt IE 9]>
      <script src="{{ MEDIA_RUL }}js/lib/html5.js"></script>
  <![endif]-->

  <link rel="alternate" type="application/rss+xml" title="Byggesocietetet - Nyheder" href="{{ settings.SERVER_URL }}{% url feeds "news" %}">

  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.migrate.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/modernizrr.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}asset/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.fitvids.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/owl.carousel.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/nivo-lightbox.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.isotope.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.appear.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/count-to.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.textillate.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.lettering.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.easypiechart.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.nicescroll.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.parallax.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/mediaelement-and-player.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.slicknav.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.validate.min.js"></script>

  <!--link rel="shortcut icon" href="images/favicon.ico"-->
</head>
{% load textsnippet thumbnail %}
<body style="background: url('{{ MEDIA_URL }}img/patterns/8.png') repeat;">

  <div id="container" class="boxed-page">


    <!-- Start Header Section -->
  <div class="hidden-header"></div>
    <header class="clearfix" >

      <!-- Start Top Bar -->
      <div class="top-bar color-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <!-- Start Contact Info -->

                <ul class="contact-details">
                    <li><a href="http://www.byggesocietetet.dk/om/kontakt/"><i class="fa fa-map-marker"></i> {% textsnippet "office: address" %}</a>
                    </li>
                    <!-- <li><a href="http://www.byggesocietetet.dk/medlemmer/medlemskab/"><i class="fa fa-envelope-o"></i> mailto:{% textsnippet "office: email" %}</a> -->
                    <li><a href="mailto:{% textsnippet 'office: email' %}"><i class="fa fa-envelope-o"></i> {% textsnippet "office: email" %}</a>
                    </li>
                    <li><a href="tel:22211936"><i class="fa fa-phone"></i>  {% textsnippet "office: tel" %}</a>
                    </li>
                </ul>
                <!-- End Contact Info -->
            </div>
            <!-- .col-md-6 -->
            <div class="col-md-5">
                <!-- Start Social Links -->
                <ul class="social-list">
                    {% for foot in foot1 %}
                      {% if foot.text == "facebook" %}
                        <li>
                         <a class="facebook itl-tooltip" data-placement="bottom" title="Facebook" href="{{ foot.url }}"><i class="fa fa-facebook"></i></a>
                        </li>
                      {% endif %}
                      {% if foot.text == "twitter" %}
                        <li><a class="twitter itl-tooltip" data-placement="bottom" title="Twitter" href="{{ foot.url }}"><i class="fa fa-twitter"></i></a>                            
                        </li>
                      {% endif %}
                      {% if foot.text == "linkedin" %}
                        <li>
                             <a class="linkdin itl-tooltip" data-placement="bottom" title="Linkedin" href="{{ foot.url }}"><i class="fa fa-linkedin"></i></a>   
                        </li>
                      {% endif %}
                    {% endfor %}
                   <!--  <li>
                        <a class="twitter itl-tooltip" data-placement="bottom" title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a class="google itl-tooltip" data-placement="bottom" title="Google Plus" href="#"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a class="dribbble itl-tooltip" data-placement="bottom" title="Dribble" href="#"><i class="fa fa-dribbble"></i></a>
                    </li>
                    <li>
                        <a class="linkdin itl-tooltip" data-placement="bottom" title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a class="flickr itl-tooltip" data-placement="bottom" title="Flickr" href="#"><i class="fa fa-flickr"></i></a>
                    </li>
                    <li>
                        <a class="tumblr itl-tooltip" data-placement="bottom" title="Tumblr" href="#"><i class="fa fa-tumblr"></i></a>
                    </li>
                    <li>
                        <a class="instgram itl-tooltip" data-placement="bottom" title="Instagram" href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                        <a class="vimeo itl-tooltip" data-placement="bottom" title="vimeo" href="#"><i class="fa fa-vimeo-square"></i></a>
                    </li>
                    <li>
                        <a class="skype itl-tooltip" data-placement="bottom" title="Skype" href="#"><i class="fa fa-skype"></i></a>
                    </li> -->
                </ul>
                <!-- End Social Links -->
            </div>
            <!-- .col-md-6 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>      <!-- .top-bar -->
      <!-- End Top Bar -->

      <div class="navbar navbar-default navbar-top" >
    <div class="container">
        <div class="navbar-header">
            <!-- Stat Toggle Nav Link For Mobiles -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <!-- End Toggle Nav Link For Mobiles -->
            <a class="navbar-brand" href="/">
                <img alt="" src="{{ MEDIA_URL }}img/logo-top.png" style="width:65%;margin-top: -20px;">
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <!-- Start Navigation List -->
            <ul class="nav navbar-nav navbar-right">
                <li class="home_logo">
                    <a class="active" href="/"><i class="fa fa-home"></i></a>
                </li>
                {% for level1 in submenu %}
                <li>
                    <a href="{{ level1.url }}">{{ level1.name|capfirst }}</a>
                    
                    <ul class="dropdown">
                      {% for level2 in level1.children %}
                        <li><a href="{{ level2.url }}">{{ level2.name|capfirst }}</a>

                        <!-- {% for level3 in level2.children %}
                        <li><a href="{{ level3.url }}">{{ level3.name }}</a></li>
                        {% endfor %} -->
                        </li>
                      {% endfor %}
                    </ul>
                   
                </li>
                {% endfor %}
                 <li class="a"><a href="/om/kontakt/">Kontakt</a> </li>
  <li class="bliv"><a href="/medlemmer/indmelding/" class="yellow" >Bliv medlem</a></li>
               
                
            </ul>
            <!-- End Navigation List -->
        </div>
    </div>

    <!-- Mobile Menu Start -->
    <ul class="wpb-mobile-menu">
        <li>
            <a class="active" href="/">Home</a>
        </li>
        {% for level1 in submenu %}
                <li>
                    <a href="{{ level1.url }}">{{ level1.name|capfirst  }}</a>
                    
                    <ul class="dropdown">
                      {% for level2 in level1.children %}
                        <li><a href="{{ level2.url }}">{{ level2.name|capfirst  }}</a>

                        <!-- {% for level3 in level2.children %}
                        <li><a href="{{ level3.url }}">{{ level3.name }}</a></li>
                        {% endfor %} -->
                        </li>
                      {% endfor %}
        
                    </ul>
                   
                </li>
                {% endfor %}
        <li ><a href="/om/kontakt/">Kontakt</a> </li>
  		<li ><a href="/medlemmer/indmelding/" >Bliv medlem</a></li>
    </ul>
    <!-- Mobile Menu End -->

</div>      <!-- End Header Logo & Naviagtion -->

    </header>

    {% block content %}{% endblock %}
      <footer>
    <div class="container">
        <div class="row footer-widgets">


            <!-- Start Subscribe & Social Links Widget -->
            <div class="col-md-3 col-xs-12">
                <div class="footer-widget mail-subscribe-widget">
                    <h4>Nyhedsbrev<span class="head-line"></span></h4>
                    <p>{% textsnippet "office: maildescription" %}</p>
                    <form id="maillist" class="subscribe" method="POST" action=.>
                      {% for field in form2 %}
                        {{ field }} 
                      {% endfor %}  
                        <input type="submit" class="btn-system" value="Send">
                    </form>
                </div>
                <div class="footer-widget social-widget">
                    <h4>SOCIALE MEDIER<span class="head-line"></span></h4>
                    <ul class="social-icons">
                    {% for foot in foot1 %}
                      {% if foot.text == "linkedin" %}
                        <li>
                            <a class="linkdin" href="{{ foot.url }}"><i class="fa fa-{{foot.text}}"></i></a>
                        </li>
    
                      {% else %}
                        <li>
                            <a class="{{ foot.text }}" href="{{ foot.url }}"><i class="fa fa-{{foot.text}}"></i></a>
                        </li>
                      {% endif %}
                    {% endfor %}
                   <!--      <li>
                            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                        </li>
                        <li>
                            <a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                        </li>
                        <li>
                            <a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>
                        </li>
                        <li>
                            <a class="instgram" href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a class="vimeo" href="#"><i class="fa fa-vimeo-square"></i></a>
                        </li>
                        <li>
                            <a class="skype" href="#"><i class="fa fa-skype"></i></a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <!-- .col-md-3 -->
            <!-- End Subscribe & Social Links Widget -->


            <!-- Start Twitter Widget -->
            <div class="col-md-3 col-xs-12">
                <div class="footer-widget twitter-widget">
                    <h4>Hurtig Links<span class="head-line"></span></h4>
                    <ul>
                    {% for level1 in submenu|slice:":5" %}
                        <li>
                            <p><a href="{{ level1.url }}">{{ level1.name }}</a></p>
                        </li>
                    {% endfor %}
                     
                    </ul>
                </div>
            </div>
            <!-- .col-md-3 -->
            <!-- End Twitter Widget -->


            <!-- Start Flickr Widget -->
            <div class="col-md-3 col-xs-12">
                <div class="footer-widget flickr-widget">
                    <h4>sponsorer<span class="head-line"></span></h4>
                     {% for foots in foot2 %}
                    <a href="{{ foots.url }}" target="_blank">
                        <img alt="" src="{{ foots.image.url }}" >
                    </a>
                    <br><br><br>
                     {% endfor %}
                </div>
            </div>
            <!-- .col-md-3 -->
            <!-- End Flickr Widget -->


            <!-- Start Contact Widget -->
            <div class="col-md-3 col-xs-12">
                <div class="footer-widget contact-widget">
                    <h4><img src="{{ MEDIA_URL }}img/logo-bottom.png" class="img-responsive" alt="Footer Logo" /></h4>
                    <p>{% textsnippet "office: description" %}</p>
                    <ul>
                        <li><span>Hovednummer:</span> {% textsnippet "office: tel" %}</li>
                        <li><span>Email:</span>  {% textsnippet "office: email" %}</li>
                        <li><span>Hjemmeside:</span> {% textsnippet "office: website" %}</li>
                    </ul>
                </div>
            </div>
            <!-- .col-md-3 -->
            <!-- End Contact Widget -->


        </div>
        <!-- .row -->

        <!-- Start Copyright -->
        <div class="copyright-section">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2016 Byggesocietetet </p>
                </div>
                <!-- .col-md-6 -->
                <div class="col-md-6">
                    <ul class="footer-nav">
                        <li><a href="#"></a>
                        </li>
                        <li><a href="#"></a>
                        </li>
                        <li><a href="/om/kontakt/">Kontakt</a>
                        </li>
                    </ul>
                </div>
                <!-- .col-md-6 -->
            </div>
            <!-- .row -->
        </div>
        <!-- End Copyright -->

    </div>
</footer>    <!-- End Footer Section -->


  </div>
  <!-- End Full Body Container -->

  <!-- Go To Top Link -->
  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <div id="loader">
    <div class="spinner">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
  </div>


  <script type="text/javascript" src="{{ MEDIA_URL }}js/script.js"></script>
<script id="demo" type="text/javascript">
$(document).ready(function() {
// validate signup form on keyup and submit
var validator = $("#maillist").validate({
rules: {
// subject: "required",
email:{
required: true,
email: true
}
},
messages: {
// subject: "Enter subject info",
email: "<b style='color:red;''>Indtast email info</b>",
}
});
});
</script>

</body>

</html>

<!-- ########################### -->

  
       <!--  <a href="{% url member_group_page_default "lokalomraade" %}">Lokalområder</a>
        <a href="{% url member_group_page_default "udvalg" %}">Udvalg</a>
        <a href="{% url member_group_page_default "bs-gruppe" %}">BS-Grupper</a>
        <a href="{% url event_overview %}">Arrangementer</a>
        <a href="{% url members_page %}">Medlemmer</a> -->
      <!-- </div>

      <div class="links grid_2">
      {% for foot in foot1 %}
         <a href="{{ foot.url }}"><img src="{{ foot.image.url }}"> {{foot.text}}</a>
      {% endfor %}
        <a href="http://www.linkedin.com/groups?gid=1129647"><img src="{{ MEDIA_URL }}img/icon-linkedin.png"> linkedin</a>
        <a href="#"><img src="{{ MEDIA_URL }}img/icon-facebook.png"> facebook</a>
        <a href="#"><img src="{{ MEDIA_URL }}img/icon-twitter.png"> twitter</a>
{% comment %} 
       
 {% endcomment %} 
      </div>
 -->
 

