{% load textsnippet %}
<div bgcolor="#ffffff">

<center>
  <table width="600" border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td width="600">
          <img src="{{ settings.SERVER_URL }}{{ settings.MEDIA_URL }}img/logo-top.png" border="0">
        </td>
      </tr>
      <tr>
        <td width="600">
          <center>
            <table width="100%" border="0" cellspacing="0" cellpadding="3">
              <tbody>
                <tr>
                  <td colspan="3" align="CENTER" bgcolor="#d16117"><b><font color="#ffffff" face="sans-serif">Faktura</font></b></td>
           
                </tr>
        <tr>
          <td width="22%" valign="TOP"><font size="-1" face="Arial"><br clear="ALL">Firmanavn:<br>
            Adresse:<br>
            Post nr. - By:<br>
            Telefon nr.:<br>
            E-mail adresse:<br clear="ALL"></font></td>
          <td width="64%" valign="TOP"><font size="-1" face="Arial"><a href="mailto:{{ signup.email }}" target="_blank"><br clear="ALL"></a></font><strong><font size="-1" face="Arial">{{ signup.company }}<br>

            </font></strong><font size="-1" face="Arial">{{ signup.address }}<br>
            {{ signup.zipcode }} {{ signup.city }}<br>
            {{ signup.phone }}<br>
            </font><font size="-1" face="Arial">{{ signup.email }}</font></td>
          <td width="14%">&nbsp;</td> 
        </tr>

        <tr>
          <td width="22%" valign="TOP"><br clear="ALL"><font size="-1" face="Arial">Deltager navn:<br>
            Deltager telefon nr.:<br>
            Deltager e-mail:</font><br clear="ALL"></td>
          <td width="64%" valign="TOP"><br clear="ALL"><strong><font size="-1" face="Arial">{{ signup.name }}<br>
            </font></strong><font size="-1" face="Arial">{{ signup.phone }}<br>

            </font><font size="-1" face="Arial">{{ signup.email }}</font></td>
          <td width="14%">&nbsp;</td> 
        </tr>
        <tr>
          <td colspan="3">
            <p></p><center><hr></center><p></p></td>
        </tr>
        <tr>
          <td colspan="3"><font size="-1" face="Arial">Fakturadato:
            <b>{{ date|date:"j. F, Y" }}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Arrangement nummer: <b>{{ signup.event.event_number }}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Faktura nummer: <b>{{ signup.id }}</b></font></td>

           
        </tr>
        <tr>
          <td width="22%">&nbsp;</td> 
          <td width="64%">&nbsp;</td> 
          <td width="14%">&nbsp;</td> 
        </tr>
        <tr>
          <td colspan="2"><font size="-1" face="Arial">{{ signup.event.name }}</font></td>
           
          <td width="14%" align="RIGHT"></td> 
        </tr>
        <tr>
          <td width="22%">&nbsp;</td> 
          <td width="64%">&nbsp;</td> 
          <td width="14%">&nbsp;</td> 
        </tr>
        <tr>
          <td colspan="3"><font size="-1" face="Arial">
            Antal: {{ signup.amount }}<br>
            Pris: Kr. {{ signup.get_total_excluding_tax|floatformat:2 }} ex. moms, moms kr. {{ signup.get_tax|floatformat:2 }} &nbsp;kr. {{ signup.get_total|floatformat:2 }} inkl. moms<br>
<br>
{{ signup.event.text|safe }}
        </font></td></tr>
                    <tr>
                      <td width="22%">&nbsp;</td> 
                      <td width="64%">&nbsp;</td> 
                      <td width="14%">&nbsp;</td> 
                    </tr>
                    <tr>
                      <td width="22%" colspan="3"><font size="-1" face="Arial">{% textsnippet "email faktura: betaling" %}
                      <br>
                      <br>
                      </font></td> 
                    </tr>
      </tbody></table></center><p></p></td>
  </tr>
  <tr>
    <td width="600" align="CENTER"><hr><font size="-2" face="Arial">{% textsnippet "email faktura: fodnote" %}</font></td>

 
  </tr>

</tbody></table></center>
<div class="yj6qo"></div><div class="adL">

</div>
